<div class="content">
  <div class="videos">
    <div class="video">
      <div class="thumbnail">
        <img [src]="video1" alt="">
        <span class="minit">40:50</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Изучение Ангуляр #1. Основы</span>
          <span>Tu4k0</span>
          <div>
            <span class="views">200 просмотров</span>
            <br>
            <span>1 день назад</span>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="thumbnail">
        <img [src]="video2" alt="">
        <span class="minit">55:55</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Как стать FrontEnd разработчиком</span>
          <span>Recruitments</span>
          <div>
            <span class="views">100 тыс. просмотров</span>
            <br>
            <span>1 месяц назад</span>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="thumbnail">
        <img [src]="video3" alt="">
        <span class="minit">4:44:44</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">FullStack основы. Курс для начинающих</span>
          <span>SoftServe</span>
          <div>
            <span class="views">975 тыс. просмотров</span>
            <br>
            <span>1 год назад</span>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="thumbnail">
        <img [src]="video4" alt="">
        <span class="minit">2:17</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Паттерны программы. Введение</span>
          <span>WebForMyself</span>
          <div>
            <span class="views">7 тыс. просмотров</span>
            <br>
            <span>5 дней назад</span>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="thumbnail">
        <img [src]="video5" alt="">
        <span class="minit">4:01</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Что такое BackEnd технологии?</span>
          <span>Loftblog</span>
          <div>
            <span class="views">5 тыс. просмотров</span>
            <br>
            <span>3 дня назад</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px" class="video">
      <div class="thumbnail">
        <img [src]="video6" alt="">
        <span class="minit">4:44:44</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">FullStack основы. Курс для начинающих</span>
          <span>SoftServe</span>
          <div>
            <span class="views">975 тыс. просмотров</span>
            <br>
            <span>1 год назад</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px" class="video">
      <div class="thumbnail">
        <img [src]="video7" alt="">
        <span class="minit">8:48</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">JavaScript собеседование вопросы для начинающих</span>
          <span>Web Developer Vlog</span>
          <div>
            <span class="views">2 тыс. просмотров</span>
            <br>
            <span>9 месяцев назад</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px" class="video">
      <div class="thumbnail">
        <img [src]="video8" alt="">
        <span class="minit">1:03:25</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Нагрузочное тестирование с Locust</span>
          <span>Wargaming</span>
          <div>
            <span class="views">3 тыс. просмотров</span>
            <br>
            <span>2 месяца назад</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px" class="video">
      <div class="thumbnail">
        <img [src]="video9" alt="">
        <span class="minit">6:04</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Уроки Java для начинающих</span>
          <span>Web Developer Vlog</span>
          <div>
            <span class="views">20 тыс. просмотров</span>
            <br>
            <span>1 месяц назад</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 40px" class="video">
      <div class="thumbnail">
        <img [src]="video10" alt="">
        <span class="minit">53:06</span>
      </div>
      <div class="video-info">
        <div class="user">
          <img [src]="logo" alt="">
        </div>
        <div class="text">
          <span class="title">Видеокурс HTML & CSS. Урок 1</span>
          <span>ITVDN</span>
          <div>
            <span class="views">130 тыс. просмотров</span>
            <br>
            <span>5 лет назад</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
