<body>

<nav class="navbar">
  <div class="logo">
    <i class="material-icons">menu</i>
    <img [src]="logo" alt="">
  </div>
  <div class="search">
    <input type="text" placeholder="Введите запрос">
    <div class="searchbtn">
      <i class="material-icons">search</i>
    </div>
    <i class="material-icons">mic</i>
  </div>
  <div class="icons">
    <i class="material-icons">video_call</i>
    <i class="material-icons">apps</i>
    <i class="material-icons">notifications</i>
    <img [src]="account_logo" alt="">
  </div>
</nav>




</body>
