<div class="sidebar">
  <div class="links">
    <div class="link">
      <a href="#"><i class="material-icons">home</i><span>Главная</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">explore</i><span>Навигатор</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">subscriptions</i><span>Подписки</span></a>
    </div>
  </div>
  <div class="links links-2">
    <div class="link">
      <a href="#"><i class="material-icons">video_library</i><span>Библиотека</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">history</i><span>История</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">watch_later</i><span>Смотреть позже</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">thumb_up</i><span>Понравившиеся</span></a>
    </div>
  </div>
  <div class="links subscription">
    <h4>Подписки</h4>
    <div class="link">
      <a href="#"><i class="material-icons">audiotrack</i><span>Музыка</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">emoji_events</i><span>Спорт</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">sports</i><span>Видеоигры</span></a>
    </div>
    <div class="link">
      <a href="#"><i class="material-icons">movie</i><span>Фильмы</span></a>
    </div>
  </div>
</div>
